/* styles.css */

html, body {
  height: 100%; /* html과 body의 높이를 100%로 설정 */
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans KR', sans-serif; /* 둥근 폰트 */
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #fce4ec, #b6a2da); /* 그라데이션 배경 */
  background-size: cover; /* 화면 전체로 배경 확장 */
  background-repeat: no-repeat; /* 배경 반복 제거 */
}

h1, h2 {
  color: #ffffff; /* 흰색 글자 */
  text-align: center; /* 가운데 정렬 */
  margin-bottom: 20px;
}

#lottoTable {
  width: 80%; /* 테이블 너비 조정 */
  margin: 20px auto; /* 가운데 정렬 */
  background-color: #fce4ec; /* 연한 코랄색 배경 */
  border: 4px solid #b6a2da; /* 테두리 진한 코랄색 */
  border-radius: 20px; /* 테두리 둥글게 처리 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

#lottoTable th, #lottoTable td {
  border: 4px solid #b6a2da; /* 셀 테두리 진한 코랄색 */
  padding: 15px;
  text-align: center; /* 가운데 정렬 */
}

#lottoTable th {
  background-color: #b6a2da; /* 진한 코랄색 헤더 배경 */
  color: #ffffff; /* 헤더 글자 색상 */
}

#lottoTable tbody tr:nth-child(even) {
  background-color: #fce4ec; /* 연한 코랄색 짝수 행 배경 */
}

#generateButton {
  background-color: #ff5278; /* 진한 분홍색 버튼 배경 */
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 10px; /* 더 둥글게 처리 */
  cursor: pointer;
  transition: background 0.3s;
  display: block; /* 가로 중앙 정렬을 위해 블록 요소로 설정 */
  margin: 20px auto; /* 가운데 정렬 */
}

#generateButton:hover {
  background-color: #ed1242; /* 진한 분홍색 버튼 배경 */
}
