<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>LuckyNumber</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/webjars/bootstrap/5.3.0/dist/css/bootstrap.min.css">

</head>
<body>
  <h1>Jinny's Lotto Number Generator</h1>
  <h2>Generated Number Set</h2>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Number</th>
      <!-- ... Add more columns as needed -->
    </tr>
    </thead>
    <tbody>
    <!-- Thymeleaf iteration to display each PickNumberSet -->
    <tr th:each="set : ${result}">
      <td th:text="${set.no}"></td>
      <td th:text="${set.numbers}"></td>
      <!-- ... Add more columns as needed -->
    </tr>
    </tbody>
  </table>

</body>
</html>